

@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Pinyon+Script&display=swap')
:root{


--ciano:  #4ecdc4ff;
--branco: #ffffffff;
--rosa:--rosa#ff6b6bff;
--preto:#

}

--texto:"Monsieur La Doulaise", cursive; 
--titulo:"Pinyon Script", cursive;