

@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Pinyon+Script&display=swap');

:root{
--Marrom:  #551b00;
--branco: #ffffffff;   
--Vermelho: #5e0000;
--laranja: #ad320d;
--Azul: rgb(7, 2, 82);
 margin: 0;
padding: 0;
}

body{

    background-color: var(--branco);
    font-family: var(--);
}
header{

background-color: Var(--Marrom);
text-align: center;
padding: 10px;
color:var(--branco) 
}
.capa{
    width: 100%;;
}
.caixa-conteudo{
    margin: 20px;
    border: 2px;
    text-align: center;}

footer{
    padding: 20px;
    text-align: center;
    background-color: var(--laranja);
    color: var(--branco);
}
footer p{
    font-family: var(--Meu blog de Agropecuaria);
    font-size: 20px;
}
