

@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Pinyon+Script&display=swap')

:root{
--Marrom:  #551b00;
--Vermelho: #5e0000;
--laranja: #ad320d;
--Azul: rgb(7, 2, 82);
}

body{

    background-color: var(--azul);
    font-family: var(--texto);
}
header{

background-color: Var(--Marrom);
}

    